#card{
  background-color: orange;
  width: 400px;
  height: 580px;
  border-radius: 5%;
  margin-left: 400px;
}

#picture{
  width: 200px;
  height: 250px;
  border-radius: 5%;
  margin-left: 90px;
  margin-top: 20px;

}

#info{
  background-color: #70d6a0;
  margin: 20px;
  border-radius: 5%;
}

#info p{
  padding-left: 70px;
  padding-top: 7px;
}

#techs{
  width: 45px;
  margin-left: 10px;
}

#techs-css{
  width: 50px;
  margin-left: 10px;

}

#techs-javascript{
  width: 60px;
  margin-left: 10px;

}

#techs-java{
  width: 90px;
  margin-left: 10px;
}

#code{
  padding-left: 60px;
}

#cont{
  width: 45px;
  height: 45px;
  margin-left: 25px;
}

#contact{
  padding-left: 60px;
}